<% comments.each do |comment| %>
	<% if comment.book_id == book.id %>
		<div>
			<div>
				<%= link_to user_path(comment.user) do %>
					<%= attachment_image_tag(comment.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
				<% end %>
				<%= comment.user.name %>
				<% if comment.user.id == current_user.id %>
					<%= link_to "Destroy", book_comment_path(comment.book, comment), method: :delete, class: "btn-sm btn-danger destroy_comment_#{comment.id}" %></td>
				<% end %>
			</div>
			<div>
				<%= comment.comment %>
			</div>
		</div>
	<% end %>
<% end %>